
.eXtremeTable {
   margin: 0;
   padding: 0;
	width: 100%;
}

.eXtremeTable select {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    border: solid 1px #EEE;
    width: 75px;
}

.eXtremeTable .tableRegion {
    border: 1px solid #999999;
    padding: 1px;
    font-size: 12px;
    margin-top: 7px;
}

.eXtremeTable .filter {
    background-color: #F4F4F4;
}

.eXtremeTable .title {
    color: #1a7cdf;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;

}

.eXtremeTable .titleRow {
    background-color: #F4F4F4;
	height: 20px;
}

.eXtremeTable .titleRow td {
    border-bottom: 1px solid #308dbb;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: middle;
}

.eXtremeTable .titleRow span {
    color: #444444;
    font-weight: bold;
    font-size: 12px;
}

.eXtremeTable .filter input {
    font-size: 12px;
    width: 100%;
}

.eXtremeTable .filter select {
    font-size: 9px;
    border: solid 1px #EEE;
    width: 100%;
}

.eXtremeTable .tableHeader {
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffffff,endColorStr=#98B2E6);
    /**
    color: black;
    font-size: 12px;
    
    text-align: center;
    padding-right: 1px;
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0px;
    border-right: 1px solid #999999;
	border-top: 1px solid #999999;
	
    background-image: url( "../images/tableTopbg.gif" );
	height: 25px;
	**/
	padding: 1px;
    background:url(images/table_headerbg.jpg) left top repeat-x;
	
    border-right: 1px solid #999999;
	border-top: 1px solid #999999;
	height:25px;
	font-weight:bold;
	text-align:center;
}

.eXtremeTable .tableHeaderSort {
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffffff,endColorStr=#98B2E6);
    color: black;
    font-size: 12px;
    
    text-align: center;
    padding-right: 1px;
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
	margin: 0px;
    border-right: 1px solid #999999;
	border-top: 1px solid #999999;
	
    background-image: url( "../images/tableTopbg.gif" );
    height: 25px;
}


.eXtremeTable .odd td, .eXtremeTable .even td {
    vertical-align: middle;
    font-size: 12px;

    padding-right: 1px;
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-top: 1px solid #999999;
    border-right: 1px solid #999999;

	height: 22px;
}

.eXtremeTable .odd {
    background-color: #FFFFFF;
}

.eXtremeTable .even {
    /* background-color: #EDF2F6; */
    background-color:whiteSmoke;
}

.eXtremeTable .highlight td {
    color: black;
    font-size: 12px;
    vertical-align: middle;
    background-color: #fdecae;  

    padding-right: 1px;
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-top: 1px solid #999999;
    border-right: 1px solid #999999;
    
    height: 22px;
}

.eXtremeTable .toolbar {
    background-color: #ccc;
    font-size: 12px;
    border-right: 1px solid silver;
    border-left: 1px solid silver;
    border-top: 1px solid silver;
    border-bottom: 0px solid silver;
}

.eXtremeTable .toolbar td {
    color: #444444;
    padding: 0px 3px 0px 3px;
    text-align: center;
	 border-right: 1px solid #999999;
}

.eXtremeTable .separator {
    width: 7px;
}

.eXtremeTable .statusBar {
    /**
    background-color: #FFFFFF;
    font-size: 12px;
	padding-left: 10px;
    text-align: left;
    **/
    background: url(images/search_titlebg.jpg) left top repeat-x;
	
	padding-left: 10px;
	font-family: Arial, "宋体";
	font-size: 12px;
	text-align: left;
	line-height: 26px;
    
    
}
.eXtremeTable .compactToolbar{
    background: url(images/search_titlebg.jpg) left top repeat-x;
	padding-right: 10px;
	font-family: Arial, "宋体";
	font-size: 12px;
	line-height: 26px;
    
}
.eXtremeTable .compactToolbar table{
    float:right ;
    
}

.eXtremeTable .filterButtons {
    background-color: #F4F4F4;
    text-align: right;
}

.eXtremeTable .title span {
    margin-left: 7px;
}

.eXtremeTable .formButtons {
    display: block;
    margin-top: 10px;
    margin-left: 5px;
}

.eXtremeTable .formButton {
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    background-color: #308dbb;
    color: white;
    margin-top: 5px;
    border: outset 1px #333;
    vertical-align: middle;
}

.eXtremeTable .calcRow {
    background-color: #FFFFFF;
}

.eXtremeTable .calcRow td {
    background-color: #FFFFFF;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #AAC2D9;
}

.eXtremeTable .calcTitle {
    font-weight: bold;
    font-size: 12px;
}

.eXtremeTable .calcResult {
    font-size: 12px;
}
.eXtremeTable a {
    font:12px "宋体";
	color:#1D7BBF;
	text-decoration:none;
	}
	
.eXtremeTable a:hover {
    font:12px "宋体";
	color:#1D7BBF;
	text-decoration:underline;
	}
	
	